<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>New Page | CSS</title>
        <meta name="theme-color" content="#c9e0e04d">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="shortcut icon" href="../img/favicons/favicon.ico" type="image/x-icon">
        <link rel="icon" sizes="16x16" href="../img/favicons/favicon-16x16.png" type="image/png">
        <link rel="icon" sizes="32x32" href="../img/favicons/favicon-32x32.png" type="image/png">
        <link rel="apple-touch-icon-precomposed" href="../img/favicons/apple-touch-icon-precomposed.png">
        <link rel="apple-touch-icon" href="../img/favicons/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="57x57" href="../img/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="../img/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="../img/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="../img/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="../img/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="../img/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="../img/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="../img/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="167x167" href="../img/favicons/apple-touch-icon-167x167.png">
        <link rel="apple-touch-icon" sizes="180x180" href="../img/favicons/apple-touch-icon-180x180.png">
        <link rel="apple-touch-icon" sizes="1024x1024" href="../img/favicons/apple-touch-icon-1024x1024.png">
        <link rel="stylesheet" href="../styles/main.css">
    </head>
    <body>
    	
        <header class="header">
            <div class="top-nav">
                <div class="row h-hundred-percent align-items-center">
                    <div class="col-md-2">
                        <div class="logo">
                            <a href="switch.html">DataBank</a>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <ul class="top-nav__menu">
                            <li class="top-nav__menu_item">
                                <a href="html.html" class="box-content">
                                    <span>Html</span>
                                </a>
                            </li>
                            <li class="top-nav__menu_item" id="active-hover__second">
                                <a href="#" class="box-content">
                                    <span>Css</span>
                                </a>
                            </li>
                            <li class="top-nav__menu_item">
                                <a href="js.html" class="box-content">
                                    <span>Js</span>
                                </a>
                            </li>
                            <li class="top-nav__menu_item">
                                <a href="other.html" class="box-content">
                                    <span>Other</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
    </header>
    <section id="main">
        <div class="row">
            <div class="col-lg-2 col-xl-2 p-null">
                <div class="left-sidebar">
                    <ul class="left-sidebar__menu">
                        <li><a href="#directory" class="left-sidebar__menu_item active">Справочники</a></li>
                        <li><a href="#features" class="left-sidebar__menu_item">CSS Фичи</a></li>
                        <li><a href="#libraries" class="left-sidebar__menu_item">Библиотеки/Плагины</a></li>
                        <li><a href="#books" class="left-sidebar__menu_item">Книги</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-10 col-xl-10">
                <div class="content-wrap" id="directory">
                    <h2>Справочники | Css</h2>
                    <div class="content">
                        <div class="content-object">
                            <img src="../img/html-book.jpg" alt="Фото объекта" class="content-object__img">
                            <div class="object-description">
                                <h3>htmlbook | Css</h3>
                                <p>Подробный справочник так же и по Css</p>
                                <a href="http://htmlbook.ru/" target="blank">подробнее »</a>
                            </div>
                        </div>
                        <!-- /.content-object -->
                        <div class="content-object">
                            <img src="../img/WebReference_Css.jpg" alt="Фото объекта" class="content-object__img">
                            <div class="object-description">
                                <h3>WebReference | Еще один крупный ресурс</h3>
                                <p>Справочники, руководства, курсы, практика, тесты</p>
                                <a href="https://webref.ru/" target="blank">подробнее »</a>
                            </div>
                        </div>
                        <!-- /.content-object -->
                        <div class="content-object">
                            <img src="../img/css_grid.jpg" alt="Фото объекта" class="content-object__img">
                            <div class="object-description">
                                <h3>Справочник по Css Grid</h3>
                                <p>Справочник от ITDoctor</p>
                                <a href="https://www.youtube.com/channel/UC2Ev-rDSHBov0ZMChesLfrg" target="blank">YouTube канал</a><br>
                                <a href="https://morphismail.github.io/css-grid-manual/" target="blank">подробнее »</a>
                            </div>
                        </div>
                        <!-- /.content-object -->
                        <div class="content-object">
                            <img src="../img/css_grid1.jpg" alt="Фото объекта" class="content-object__img">
                            <div class="object-description">
                                <h3>Вёрстка на Grid в CSS</h3>
                                <p>Полное руководство и справочник</p>
                                <a href="https://medium.com/@stasonmars/%D0%B2%D0%B5%CC%88%D1%80%D1%81%D1%82%D0%BA%D0%B0-%D0%BD%D0%B0-grid-%D0%B2-css-%D0%BF%D0%BE%D0%BB%D0%BD%D0%BE%D0%B5-%D1%80%D1%83%D0%BA%D0%BE%D0%B2%D0%BE%D0%B4%D1%81%D1%82%D0%B2%D0%BE-%D0%B8-%D1%81%D0%BF%D1%80%D0%B0%D0%B2%D0%BE%D1%87%D0%BD%D0%B8%D0%BA-220508316f8b" target="blank">подробнее »</a>
                            </div>
                        </div>
                        <!-- /.content-object -->
                        <div class="content-object">
                            <img src="../img/css_flexbox.jpg" alt="Фото объекта" class="content-object__img">
                            <div class="object-description">
                                <h3>tproger.ru | Css Flexbox</h3>
                                <p>Как работает CSS Flexbox: наглядное введение в систему компоновки элементов на веб-странице</p>
                                <a href="https://tproger.ru/translations/how-css-flexbox-works/" target="blank">подробнее »</a>
                            </div>
                        </div>
                        <!-- /.content-object -->
                    </div>
                    <!-- /.content -->
                </div>
                <!-- /.content-wrap #directory -->
                <div class="content-wrap"  id="features">
                    <h2>CSS Фичи | CSS-features</h2>
                    <div class="content">
                        <div class="content-object">
                            <div class="video__content_wrap">
                                <iframe width="100%" height="200px" src="https://www.youtube.com/embed/g187rf7yPjk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                            <div class="object-description">
                                <h3></h3>
                                <p>Посмотрев этот урок вы научитесь верстать адаптивные галереи изображений. Одно из самых типичных тестовых заданий по верстке. Немного познакомить с тем как верстать резиновые изображения,с media queries и о том как вычислять ширину элементов в процентах.</p>
                                <a href="https://loftblog.ru/material/verstka-adaptivnoj-css-galerei/" target="blank">подробнее »</a>
                            </div>
                        </div>
                        <!-- /.content-object -->
                        <div class="content-object">
                            <div class="video__content_wrap">
                                <iframe width="100%" height="200px" src="https://www.youtube.com/embed/kAGkAJDLYGY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                            <div class="object-description">
                                <h3>Top 10 Stunning CSS 3 Effects For Navigation Bar</h3>
                                <p></p>
                                <a href="https://www.youtube.com/watch?v=kAGkAJDLYGY&list=LL3sG98XSdWo1GvObmS5WbXQ&index=2&t=0s" target="blank">подробнее »</a>
                            </div>
                        </div>
                        <!-- /.content-object -->
                        <div class="content-object">
                            <div class="video__content_wrap">
                                <iframe width="100%" height="200px" src="https://www.youtube.com/embed/EZqhWu8GJ6U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                            <div class="object-description">
                                <h3>CSS Card Hover Effects | Html & CSS</h3>
                                <p></p>
                                <a href="https://www.youtube.com/watch?v=EZqhWu8GJ6U&list=LLhn_Aq09AfGB67-UJXOpH1w&index=10&t=0s" target="blank">подробнее »</a>
                            </div>
                        </div>
                        <!-- /.content-object -->
                    </div>
                    <!-- /.content -->
                </div>
                <!-- /.content-wrap #features-->
                <div class="content-wrap"  id="libraries">
                    <h2>Библиотеки | Плагины</h2>
                    <div class="content">
                        <div class="content-object">
                            <img src="../img/css_skeleton.jpg" alt="Фото объекта" class="content-object__img">
                            <div class="object-description">
                                <h3>getskeleton.com</h3>
                                <p>Skeleton это фреймворк, основанный на CSS и JavaScript. Он позволяет верстать сайты таким образом, чтобы они одинаково удобно и красиво выглядели как на мониторе 17 дюймов, так и на дисплее смартфонов и планшетах.</p>
                                <a href="http://getskeleton.com/" target="blank">подробнее »</a>
                            </div>
                        </div>
                        <!-- /.content-object -->
                        <div class="content-object">
                            <img src="../img/css_foundation.jpg" alt="Фото объекта" class="content-object__img">
                            <div class="object-description">
                                <h3>foundation.zurb.com</h3>
                                <p>Zurb Foundation — это крутой фронтэнд-фреймворк, являющийся достойной альтернативой бутстрапу</p>
                                <a href="https://foundation.zurb.com/" target="blank">подробнее »</a>
                            </div>
                        </div>
                        <!-- /.content-object -->
                        <div class="content-object">
                            <img src="../img/css_imghover.jpg" alt="Фото объекта" class="content-object__img">
                            <div class="object-description">
                                <h3>imagehover.io</h3>
                                <p>Pure CSS Image Hover Effect Library
                                Поддержка LESS и SCSS, полностью масштабируемая, с любовью созданная ...</p>
                                <a href="http://imagehover.io/" target="blank">подробнее »</a>
                            </div>
                        </div>
                        <!-- /.content-object -->
                        <div class="content-object">
                            <img src="../img/css_hint.jpg" alt="Фото объекта" class="content-object__img">
                            <div class="object-description">
                                <h3>Hint.css</h3>
                                <p>A pure CSS tooltip library for your lovely websites</p>
                                <a href="https://kushagra.dev/lab/hint/" target="blank">подробнее »</a>
                            </div>
                        </div>
                        <!-- /.content-object -->
                        <div class="content-object">
                            <img src="../img/css_mini.jpg" alt="Фото объекта" class="content-object__img">
                            <div class="object-description">
                                <h3>minicss.org</h3>
                                <p>Хотите создавать веб-сайты, которые будут красиво смотреться на любых устройствах, а также быстро загружаться на мобильных соединениях? Тогда mini.css - правильный инструмент для вас!</p>
                                <a href="https://minicss.org/" target="blank">подробнее »</a>
                            </div>
                        </div>
                        <!-- /.content-object -->
                        <div class="content-object">
                            <img src="../img/css_animate.jpg" alt="Фото объекта" class="content-object__img">
                            <div class="object-description">
                                <h3>animate.css</h3>
                                <p></p>
                                <a href="https://daneden.github.io/animate.css/" target="blank">подробнее »</a>
                            </div>
                        </div>
                        <!-- /.content-object -->
                        <div class="content-object">
                            <img src="../img/css_materializecss.jpg" alt="Фото объекта" class="content-object__img">
                            <div class="object-description">
                                <h3>materializecss</h3>
                                <p>Современная, адаптивная платформа, построенная на принципе материального дизайна.</p>
                                <a href="https://materializecss.com" target="blank">подробнее »</a>
                            </div>
                        </div>
                        <!-- /.content-object -->
                        <div class="content-object">
                            <img src="../img/css_mmenu.jpg" alt="Фото объекта" class="content-object__img">
                            <div class="object-description">
                                <h3>mmenu</h3>
                                <p>Empower your website with a mobile menu that has the true native app menu experience with sliding submenus.</p>
                                <a href="https://mmenujs.com/" target="blank">подробнее »</a>
                            </div>
                        </div>
                        <!-- /.content-object -->
                        <div class="content-object">
                            <img src="../img/css_hamburgers.jpg" alt="Фото объекта" class="content-object__img">
                            <div class="object-description">
                                <h3>hamburgers</h3>
                                <p>Tasty CSS-animated hamburgers</p>
                                <a href="https://jonsuh.com/hamburgers/" target="blank">подробнее »</a>
                            </div>
                        </div>
                        <!-- /.content-object -->
                        <div class="content-object">
                            <img src="../img/css_neumorphism.jpg" alt="Фото объекта" class="content-object__img">
                            <div class="object-description">
                                <h3>neumorphism</h3>
                                <p>Neumorphism.io Generate Soft-UI CSS code</p>
                                <a href="https://neumorphism.io/#55b9f3" target="blank">подробнее »</a>
                            </div>
                        </div>
                        <!-- /.content-object -->
                    </div>
                    <!-- /.content -->
                </div>
                <!-- /.content-wrap #libraries-->
                <div class="content-wrap"  id="books">
                    <h2>Книги</h2>
                    <div class="content">
                        <div class="content-object">
                            <img src="../img/css_book1.jpg" alt="Фото объекта" class="content-object__img">
                            <div class="object-description">
                                <h3>Новая большая книга css -2018-</h3>
                                <p>К сожалению на данный момент не удалось найти ее в открытом доступе. Возможно позже...</p>
                            </div>
                        </div>
                        <!-- /.content-object -->
                    </div>
                    <!-- /.content -->
                </div>
                <!-- /.content-wrap #books-->
            </div>
        </div>
    </section>
        
        <script src="../js/main.js"></script>
        <script src="../js/vendor.js"></script>
    </body>
</html>