<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>New Page | JS</title>
        <meta name="theme-color" content="#c9e0e04d">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="shortcut icon" href="../img/favicons/favicon.ico" type="image/x-icon">
        <link rel="icon" sizes="16x16" href="../img/favicons/favicon-16x16.png" type="image/png">
        <link rel="icon" sizes="32x32" href="../img/favicons/favicon-32x32.png" type="image/png">
        <link rel="apple-touch-icon-precomposed" href="../img/favicons/apple-touch-icon-precomposed.png">
        <link rel="apple-touch-icon" href="../img/favicons/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="57x57" href="../img/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="../img/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="../img/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="../img/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="../img/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="../img/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="../img/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="../img/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="167x167" href="../img/favicons/apple-touch-icon-167x167.png">
        <link rel="apple-touch-icon" sizes="180x180" href="../img/favicons/apple-touch-icon-180x180.png">
        <link rel="apple-touch-icon" sizes="1024x1024" href="../img/favicons/apple-touch-icon-1024x1024.png">
        <link rel="stylesheet" href="../styles/main.css">
    </head>
    <body>
            <header class="header">
                <div class="top-nav">
                    <div class="row h-hundred-percent align-items-center">
                        <div class="col-md-2">
                            <div class="logo">
                                <a href="switch.html">DataBank</a>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <ul class="top-nav__menu">
                                <li class="top-nav__menu_item">
                                    <a href="html.html" class="box-content">
                                        <span>Html</span>
                                    </a>
                                </li>
                                <li class="top-nav__menu_item">
                                    <a href="css.html" class="box-content">
                                        <span>Css</span>
                                    </a>
                                </li>
                                <li class="top-nav__menu_item" id="active-hover__third">
                                    <a href="#" class="box-content">
                                        <span>Js</span>
                                    </a>
                                </li>
                                <li class="top-nav__menu_item">
                                    <a href="other.html" class="box-content">
                                        <span>Other</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
            <section id="main">
            <div class="row">
                <div class="col-lg-2 col-xl-2 p-null">
                    <div class="left-sidebar">
                        <ul class="left-sidebar__menu">
                            <li><a href="#directory" class="left-sidebar__menu_item active">Справочники</a></li>
                            <li><a href="#books" class="left-sidebar__menu_item">Книги</a></li>
                            <li><a href="#libraries" class="left-sidebar__menu_item">Библиотеки/Плагины</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-10 col-xl-10">
                    <div class="content-wrap" id="directory">
                        <h2>Справочники | Js</h2>
                        <div class="content">
                            <div class="content-object">
                                <img src="img/js_learnjs.jpg" alt="Фото объекта" class="content-object__img">
                                <div class="object-description">
                                    <h3>learn.javascript.ru</h3>
                                    <p>Эта книга является учебником и нацелена на то, чтобы помочь вам постепенно освоить язык. Но когда вы хорошо изучите основы, вам понадобятся дополнительные источники информации.</p>
                                    <a href="https://learn.javascript.ru/manuals-specifications" target="blank">подробнее »</a>
                                </div>
                            </div>
                            <!-- /.content-object -->
                            <div class="content-object">
                                <img src="img/js_codewars.jpg" alt="Фото объекта" class="content-object__img">
                                <div class="object-description">
                                    <h3>codewars</h3>
                                    <p>Интерактивный сборник задач по программированию</p>
                                    <a href="https://www.codewars.com/" target="blank">подробнее »</a>
                                </div>
                            </div>
                            <!-- /.content-object -->
                            <div class="content-object">
                                <img src="img/js_MDN Web Docs.jpg" alt="Фото объекта" class="content-object__img">
                                <div class="object-description">
                                    <h3>MDN Web Docs</h3>
                                    <p>MDN, Mozilla Developer Network, - это фантастическое сотрудничество с открытым исходным кодом, которое документирует не только JavaScript</p>
                                    <a href="https://developer.mozilla.org/ru/docs/Web/JavaScript" target="blank">подробнее »</a>
                                </div>
                            </div>
                            <!-- /.content-object -->
                        </div>
                        <!-- /.content -->
                    </div>
                    <!-- /.content-wrap #directory-->
                    <div class="content-wrap"  id="books">
                    <h2>Книги</h2>
                    <div class="content">
                        <div class="content-object">
                            <img src="img/js_learnjsbook.jpg" alt="Фото объекта" class="content-object__img">
                            <div class="object-description">
                                <h3>Современный учебник JavaScript</h3>
                                <p>Перед вами учебник по JavaScript, начиная с основ, включающий в себя много тонкостей и фишек JavaScript/DOM.</p>
                                <a href="https://learn.javascript.ru/" target="blank">подробнее »</a>
                            </div>
                        </div>
                        <!-- /.content-object -->
                        <div class="content-object">
                            <img src="img/js_You Don't Know JS.jpg" alt="Фото объекта" class="content-object__img">
                            <div class="object-description">
                                <h3>Вы не знаете JS (серия книг)</h3>
                                <p>Представляю вам серию книг, погружение в которую позволит вам окунуться в основные механизмы языка JavaScript. Первое издание серии книг в настоящий момент завершено</p>
                                <a href="https://github.com/azat-io/you-dont-know-js-ru" target="blank">подробнее »</a>
                            </div>
                        </div>
                        <!-- /.content-object -->
                        <div class="content-object">
                            <img src="img/js_algorithm.jpg" alt="Фото объекта" class="content-object__img">
                            <div class="object-description">
                                <h3>«Грокаем алгоритмы» А. Бхаргава</h3>
                                <p>Из «Грокаем алгоритмы» для Javascript-а из этой книги можно почерпнуть сортировку массивов, О-большое и рекурсию. Написано это правда на Python 2.3, но автор объясняет многие вещи настолько доступно и понятно, что зная сам Javascript, несложно переделать их под другой язык и воспроизвести алгоритмы на нем.</p>
                                <a href="http://alexaweb.ru/grokaem-algoritmy-a-bxargava-ili-chto-pochitat-na-dosuge-programmistu.html" target="blank">подробнее »</a>
                            </div>
                        </div>
                        <!-- /.content-object -->
                        <div class="content-object">
                            <img src="img/js_algorithm(github.com).jpg" alt="Фото объекта" class="content-object__img">
                            <div class="object-description">
                                <h3>«Грокаем алгоритмы» А. Бхаргава (дополнение | github.com)</h3>
                                <a href="https://github.com/mduisenov/GrokkingAlgorithms" target="blank">подробнее »</a>
                            </div>
                        </div>
                        <!-- /.content-object -->
                    </div>
                    <!-- /.content -->
                </div>
                <!-- /.content-wrap #books-->
                    <div class="content-wrap"  id="libraries">
                        <h2>Библиотеки | Плагины</h2>
                        <div class="content">
                            <div class="content-object">
                                <img src="img/js_parallaxJS.jpg" alt="Фото объекта" class="content-object__img">
                                <div class="object-description">
                                    <h3>parallaxJS</h3>
                                    <p></p>
                                    <a href="https://matthew.wagerfield.com/parallax/" target="blank">подробнее »</a>
                                </div>
                            </div>
                            <!-- /.content-object -->
                            <div class="content-object">
                                <img src="img/js_rellaxJS.jpg" alt="Фото объекта" class="content-object__img">
                                <div class="object-description">
                                    <h3>rellaxJS</h3>
                                    <p></p>
                                    <a href="https://dixonandmoe.com/rellax/" target="blank">подробнее »</a>
                                </div>
                            </div>
                            <!-- /.content-object -->
                            <div class="content-object">
                                <img src="img/js_fancybox.jpg" alt="Фото объекта" class="content-object__img">
                                <div class="object-description">
                                    <h3>Fancybox</h3>
                                    <p></p>
                                    <a href="https://www.fancyapps.com/fancybox/3/" target="blank">подробнее »</a>
                                </div>
                            </div>
                            <!-- /.content-object -->
                        </div>
                        <!-- /.content -->
                    </div>
                    <!-- /.content-wrap #libraries-->
                </div>
            </div>
        </section>

        <script src="js/main.js"></script>
        <script src="../js/vendor.js"></script>
    </body>
</html>