<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>New Page | Other</title>
        <meta name="theme-color" content="#c9e0e04d">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="shortcut icon" href="../img/favicons/favicon.ico" type="image/x-icon">
        <link rel="icon" sizes="16x16" href="../img/favicons/favicon-16x16.png" type="image/png">
        <link rel="icon" sizes="32x32" href="../img/favicons/favicon-32x32.png" type="image/png">
        <link rel="apple-touch-icon-precomposed" href="../img/favicons/apple-touch-icon-precomposed.png">
        <link rel="apple-touch-icon" href="../img/favicons/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="57x57" href="../img/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="../img/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="../img/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="../img/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="../img/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="../img/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="../img/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="../img/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="167x167" href="../img/favicons/apple-touch-icon-167x167.png">
        <link rel="apple-touch-icon" sizes="180x180" href="../img/favicons/apple-touch-icon-180x180.png">
        <link rel="apple-touch-icon" sizes="1024x1024" href="../img/favicons/apple-touch-icon-1024x1024.png">
        <link rel="stylesheet" href="../styles/main.css">
    </head>
    <body>
            <header class="header">
                <div class="top-nav">
                    <div class="row h-hundred-percent align-items-center">
                        <div class="col-md-2">
                            <div class="logo">
                                <a href="switch.html">DataBank</a>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <ul class="top-nav__menu">
                                <li class="top-nav__menu_item">
                                    <a href="html.html" class="box-content">
                                        <span>Html</span>
                                    </a>
                                </li>
                                <li class="top-nav__menu_item">
                                    <a href="css.html" class="box-content">
                                        <span>Css</span>
                                    </a>
                                </li>
                                <li class="top-nav__menu_item">
                                    <a href="js.html" class="box-content">
                                        <span>Js</span>
                                    </a>
                                </li>
                                <li class="top-nav__menu_item" id="active-hover__fourth">
                                    <a href="#" class="box-content">
                                        <span>Other</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
        </header>
        <section id="main">
            <div class="row">
                <div class="col-lg-2 col-xl-2 p-null">
                    <div class="left-sidebar">
                        <ul class="left-sidebar__menu">
                            <li><a href="#directory" class="left-sidebar__menu_item active">Справочники</a></li>
                            <li><a href="#libraries" class="left-sidebar__menu_item">Библиотеки/Плагины</a></li>
                            <li><a href="#design" class="left-sidebar__menu_item">Дизайн</a></li>
                            <li><a href="#scheme" class="left-sidebar__menu_item">Доски/Схемы</a></li>
                            <li><a href="#cms" class="left-sidebar__menu_item">CMS</a></li>
                            <li><a href="#photo-stocks" class="left-sidebar__menu_item">Фотостоки</a></li>
                            <li><a href="#other" class="left-sidebar__menu_item">Прочее</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-10 col-xl-10">
                    <div class="content-wrap" id="directory">
                        <h2>Справочники | Other</h2>
                        <div class="content">
                            <div class="content-object">
                                <img src="../img/html-book.jpg" alt="Фото объекта" class="content-object__img">
                                <div class="object-description">
                                    <h3>htmlbook | Для тех, кто деалет сайты</h3>
                                    <p>Подробный справочник по html тегам, и не только...</p>
                                    <a href="http://htmlbook.ru/" target="blank">подробнее »</a>
                                </div>
                            </div>
                            <!-- /.content-object -->
                            <div class="content-object">
                                <img src="../img/WebReference.jpg" alt="Фото объекта" class="content-object__img">
                                <div class="object-description">
                                    <h3>WebReference | Еще один крупный ресурс</h3>
                                    <p>Справочники, руководства, курсы, практика, тесты</p>
                                    <a href="https://webref.ru/" target="blank">подробнее »</a>
                                </div>
                            </div>
                            <!-- /.content-object -->
                            <div class="content-object">
                                <img src="../img/other_gulp4.jpg" alt="Фото объекта" class="content-object__img">
                                <div class="object-description">
                                    <h3>gulp4 | Сборка</h3>
                                    <p>Gulp — это сборщик проектов, инструмент для автоматизации задач, которые описаны выше. Он поможет вам ускорить вашу работу и грамотно подготовить проект к релизу.</p>
                                    <a href="http://tpverstak.ru/gulp/" target="blank">подробнее »</a>
                                </div>
                            </div>
                            <!-- /.content-object -->
                        </div>
                        <!-- /.content -->
                    </div>
                    <!-- /.content-wrap #directory-->
                    <div class="content-wrap"  id="libraries">
                        <h2>Библиотеки | Плагины</h2>
                        <div class="content">
                            <div class="content-object">
                                <img src="../img/other_loadingIO.jpg" alt="Фото объекта" class="content-object__img">
                                <div class="object-description">
                                    <h3>loadingIO</h3>
                                    <p></p>
                                    <a href="https://loading.io/" target="blank">подробнее »</a>
                                </div>
                            </div>
                            <!-- /.content-object -->
                            <div class="content-object">
                                <img src="../img/other_icons.jpg" alt="Фото объекта" class="content-object__img">
                                <div class="object-description">
                                    <h3>Icons</h3>
                                    <p></p>
                                    <a href="https://icon-icons.com/ru/" target="blank">подробнее »</a>
                                </div>
                            </div>
                            <!-- /.content-object -->
                            <div class="content-object">
                                <img src="../img/other_fontello.jpg" alt="Фото объекта" class="content-object__img">
                                <div class="object-description">
                                    <h3>icon fonts generator</h3>
                                    <p></p>
                                    <a href="http://fontello.com/" target="blank">подробнее »</a>
                                </div>
                            </div>
                            <!-- /.content-object -->
                            <div class="content-object">
                                <img src="../img/other_emmetDocumentation.jpg" alt="Фото объекта" class="content-object__img">
                                <div class="object-description">
                                    <h3>EmmetDocumentation</h3>
                                    <p></p>
                                    <a href="https://docs.emmet.io/cheat-sheet/" target="blank">подробнее »</a>
                                </div>
                            </div>
                            <!-- /.content-object -->
                        </div>
                        <!-- /.content -->
                    </div>
                    <!-- /.content-wrap #libraries-->
                    <div class="content-wrap"  id="design">
                        <h2>Дизайн</h2>
                        <div class="content">
                            <div class="content-object">
                                <img src="../img/design_ifly50.jpg" alt="Фото объекта" class="content-object__img">
                                <div class="object-description">
                                    <h3>ifly50</h3>
                                    <p></p>
                                    <a href="https://www.ifly50.com/en_ru/50" target="blank">подробнее »</a>
                                </div>
                            </div>
                            <!-- /.content-object -->
                             <div class="content-object">
                                <img src="../img/design_sanographix.jpg" alt="Фото объекта" class="content-object__img">
                                <div class="object-description">
                                    <h3>Design from Kioto</h3>
                                    <p></p>
                                    <a href="https://sanographix.com/" target="blank">подробнее »</a>
                                </div>
                            </div>
                            <!-- /.content-object -->
                            <div class="content-object">
                                <img src="../img/design_pngtree.jpg" alt="Фото объекта" class="content-object__img">
                                <div class="object-description">
                                    <h3>Фоны</h3>
                                    <p></p>
                                    <a href="https://ru.pngtree.com/do/фон/2" target="blank">подробнее »</a>
                                </div>
                            </div>
                            <!-- /.content-object -->
                        </div>
                        <!-- /.content -->
                    </div>
                    <!-- /.content-wrap #design-->
                    <div class="content-wrap"  id="scheme">
                        <h2>Доски | Схемы</h2>
                        <div class="content">
                            <div class="content-object">
                                <img src="../img/other_miro.jpg" alt="Фото объекта" class="content-object__img">
                                <div class="object-description">
                                    <h3>Miro</h3>
                                    <p>Miro, экс-RealtimeBoard — платформа для визуальной коллаборации распределённых команд и не только.</p>
                                    <a href="https://miro.com/app/board/o9J_kx5b1l0=/" target="blank">подробнее »</a>
                                </div>
                            </div>
                            <!-- /.content-object -->
                             <div class="content-object">
                                <img src="../img/other_trello.com.jpg" alt="Фото объекта" class="content-object__img">
                                <div class="object-description">
                                    <h3>trello</h3>
                                    <p>Trello — программа для управления проектами небольших групп, разработанная Fog Creek Software. Trello использует парадигму для управления проектами, известную как канбан, метод, который первоначально был популяризирован Toyota в 1980-х для управления цепочками поставок.</p>
                                    <a href="https://trello.com/b/85hbajK4/%D0%BF%D0%BB%D0%B0%D0%BD%D1%8B-%D0%BD%D0%B0-%D0%BB%D0%B5%D1%82%D0%BE" target="blank">подробнее »</a>
                                </div>
                            </div>
                            <!-- /.content-object -->
                            <div class="content-object">
                                <img src="../img/other_docs.jpg" alt="Фото объекта" class="content-object__img">
                                <div class="object-description">
                                    <h3>Docs</h3>
                                    <p></p>
                                    <a href="https://docs.google.com/spreadsheets/d/1HGr8wHxzACDoCh0-l7ZUUkyib6dZm6mNe_aeALJ5GSA/edit#gid=0" target="blank">подробнее »</a>
                                </div>
                            </div>
                            <!-- /.content-object -->
                            <div class="content-object">
                                <img src="../img/roadmap-github.jpg" alt="Фото объекта" class="content-object__img">
                                <div class="object-description">
                                    <h3>Frontend Developer</h3>
                                    <p>Step by step guide to becoming a modern frontend developer</p>
                                    <a href="https://github.com/kamranahmedse/developer-roadmap" target="blank">gitHub »</a>
                                    <a href="https://roadmap.sh/frontend" target="blank">roadmap.sh »</a>
                                </div>
                            </div>
                            <!-- /.content-object -->
                        </div>
                        <!-- /.content -->
                    </div>
                    <!-- /.content-wrap #scheme-->
                    
                    <div class="content-wrap"  id="cms">
                        <h2>CMS</h2>
                        <div class="content">
                            <div class="content-object">
                                <img src="../img/other_cms.jpg" alt="Фото объекта" class="content-object__img">
                                <div class="object-description">
                                    <h3>Textolite</h3>
                                    <p>Система для редактирования сайтов, основанных на статических HTML-файлах. Ориентирована на небольшие сайты, требующие периодического обновления. Все изменения на сайте сохраняются прямо в HTML-файлах, что избавляет от необходимости иметь сервер базы данных. Не требует какой-либо интеграции с сайтом, достаточно разместить каталог с системой в корне сайта.</p>
                                    <a href="https://textolite.ru/" target="blank">подробнее »</a>
                                </div>
                            </div>
                            <!-- /.content-object -->
                            <div class="content-object">
                                <img src="../img/other_wp-kama.jpg" alt="Фото объекта" class="content-object__img">
                                <div class="object-description">
                                    <h3>Wp-kama</h3>
                                    <p>Сайт был создан в далеком 2010 году, с одной лишь целью: делиться опытом, связанным с WordPress. Конкретной цели развиться не было, как не было и необходимых для создания качественного ресурса знаний. По мере написания статей и описания документации WordPress начали появляться знания и какие-то цели, основной из которых стала «создать максимально качественный ресурс по WordPress».</p>
                                    <a href="https://wp-kama.ru/" target="blank">подробнее »</a>
                                </div>
                            </div>
                            <!-- /.content-object -->
                        </div>
                        <!-- /.content -->
                    </div>
                    <!-- /.content-wrap #cms-->
                    <div class="content-wrap"  id="photo-stocks">
                        <h2>Фотостоки</h2>
                        <div class="content">
                            <div class="content-object">
                                <img src="../img/other_tinEye.jpg" alt="Фото объекта" class="content-object__img">
                                <div class="object-description">
                                    <h3>TinEye</h3>
                                    <p></p>
                                    <a href="http://labs.tineye.com/multicolr/#colors=774091,dfeefa,f1d41c;weights=33,34,33;" target="blank">подробнее »</a>
                                </div>
                            </div>
                            <!-- /.content-object -->
                            <div class="content-object">
                                <img src="../img/other_freebbble.jpg" alt="Фото объекта" class="content-object__img">
                                <div class="object-description">
                                    <h3>Freebbble</h3>
                                    <p></p>
                                    <a href="http://freebbble.com/" target="blank">подробнее »</a>
                                </div>
                            </div>
                            <!-- /.content-object -->
                            <div class="content-object">
                                <img src="../img/other_pixabay.jpg" alt="Фото объекта" class="content-object__img">
                                <div class="object-description">
                                    <h3>Pixabay</h3>
                                    <p></p>
                                    <a href="https://pixabay.com/ru/" target="blank">подробнее »</a>
                                </div>
                            </div>
                            <!-- /.content-object -->
                            <div class="content-object">
                                <img src="../img/other_unsplash.jpg" alt="Фото объекта" class="content-object__img">
                                <div class="object-description">
                                    <h3>Unsplash</h3>
                                    <p></p>
                                    <a href="https://unsplash.com/" target="blank">подробнее »</a>
                                </div>
                            </div>
                            <!-- /.content-object -->
                            <div class="content-object">
                                <img src="../img/other_startupstockphotos.jpg" alt="Фото объекта" class="content-object__img">
                                <div class="object-description">
                                    <h3>StartUpStockPhotos</h3>
                                    <p></p>
                                    <a href="https://startupstockphotos.com/" target="blank">подробнее »</a>
                                </div>
                            </div>
                            <!-- /.content-object -->
                            <div class="content-object">
                                <img src="../img/other_Pexels.jpg" alt="Фото объекта" class="content-object__img">
                                <div class="object-description">
                                    <h3>Pexels</h3>
                                    <p></p>
                                    <a href="https://www.pexels.com/" target="blank">подробнее »</a>
                                </div>
                            </div>
                            <!-- /.content-object -->
                            <div class="content-object">
                                <img src="../img/other_kubist.jpg" alt="Фото объекта" class="content-object__img">
                                <div class="object-description">
                                    <h3>Kubist</h3>
                                    <p></p>
                                    <a href="http://williamngan.github.io/kubist/" target="blank">подробнее »</a>
                                </div>
                            </div>
                            <!-- /.content-object -->
                            <div class="content-object">
                                <img src="../img/other_gratisography.jpg" alt="Фото объекта" class="content-object__img">
                                <div class="object-description">
                                    <h3>Gratisography</h3>
                                    <p></p>
                                    <a href="https://gratisography.com" target="blank">подробнее »</a>
                                </div>
                            </div>
                            <!-- /.content-object -->
                            <div class="content-object">
                                <img src="../img/other_subtlepatterns.jpg" alt="Фото объекта" class="content-object__img">
                                <div class="object-description">
                                    <h3>Subtlepatterns</h3>
                                    <p></p>
                                    <a href="https://toptal.com/designers/subtlepatterns/" target="blank">подробнее »</a>
                                </div>
                            </div>
                            <!-- /.content-object -->
                        </div>
                        <!-- /.content -->
                    </div>
                    <!-- /.content-wrap #photo-stocks-->
                    <div class="content-wrap"  id="other">
                        <h2>Прочее</h2>
                        <div class="content">
                            <div class="content-object">
                                <img src="../img/other_mail.jpg" alt="Фото объекта" class="content-object__img">
                                <div class="object-description">
                                    <h3>Генератор почтовых адресов</h3>
                                    <p></p>
                                    <a href="https://uk.emailfake.com/" target="blank">подробнее »</a>
                                </div>
                            </div>
                            <!-- /.content-object -->
                            <div class="content-object">
                                <img src="../img/other_pageSpeed.jpg" alt="Фото объекта" class="content-object__img">
                                <div class="object-description">
                                    <h3>PageSpeed Insights</h3>
                                    <p></p>
                                    <a href="https://developers.google.com/speed/pagespeed/insights/?hl=ru" target="blank">подробнее »</a>
                                </div>
                            </div>
                            <!-- /.content-object -->
                            <div class="content-object">
                                <img src="../img/other_joxi.jpg" alt="Фото объекта" class="content-object__img">
                                <div class="object-description">
                                    <h3>Joxi</h3>
                                    <p>Бесплатная программа для созданиия скриншотов</p>
                                    <a href="http://joxi.ru/" target="blank">подробнее »</a>
                                </div>
                            </div>
                            <!-- /.content-object -->
                            <div class="content-object">
                                <img src="../img/other_bannersnack.jpg" alt="Фото объекта" class="content-object__img">
                                <div class="object-description">
                                    <h3>Bannersnack</h3>
                                    <p>Looks like you have no banners created yet. Let's change this</p>
                                    <a href="https://app.bannersnack.com/banner-creator/my-banners/" target="blank">подробнее »</a>
                                </div>
                            </div>
                            <!-- /.content-object -->
                            <div class="content-object">
                                <img src="../img/other_technical task.jpg" alt="Фото объекта" class="content-object__img">
                                <div class="object-description">
                                    <h3>Техническое задание на разработку сайта</h3>
                                    <p>Как должно выглядеть техническое задание на разработку сайта – пример</p>
                                    <a href="https://siteclinic.ru/blog/technical-aspects/tz-na-razrabotku-sajta-primer/" target="blank">подробнее »</a>
                                </div>
                            </div>
                            <!-- /.content-object -->
                            <div class="content-object">
                                <img src="../img/other_tz.jpg" alt="Фото объекта" class="content-object__img">
                                <div class="object-description">
                                    <h3>ТЗ для программиста</h3>
                                    <p>Как грамотно составить ТЗ для программиста. Основы взаимопонимания</p>
                                    <a href="https://siteclinic.ru/blog/technical-aspects/tz-dlya-programmista/?utm_source=blog&utm_campaign=070318" target="blank">подробнее »</a>
                                </div>
                            </div>
                            <!-- /.content-object -->
                            <div class="content-object">
                                <img src="../img/other_freelance-for-beginner.jpg" alt="Фото объекта" class="content-object__img">
                                <div class="object-description">
                                    <h3>Фриланс для начинающих</h3>
                                    <p>Фриланс для начинающих: как начать работать на себя</p>
                                    <a href="https://blog.finder.vc/howtofreelance" target="blank">подробнее »</a>
                                </div>
                            </div>
                            <!-- /.content-object -->
                        </div>
                        <!-- /.content -->
                    </div>
                    <!-- /.content-wrap #other-->
                </div>
            </div>
        </section>
        
        <script src="../js/main.js"></script>
        <script src="../js/vendor.js"></script>
    </body>
</html>